[Unit]
Description=gunicorn daemon for django-1
After=network.target

[Service]
User=askar
Group=www-data
WorkingDirectory=/home/askar/coding/backend_highload/assignment3/
ExecStart=/home/askar/coding/backend_highload/assignment3/bin/gunicorn --access-logfile - 
                            --workers 3 --bind localhost:8000 config.wsgi:application

[Install]
WantedBy=multi-user.target

# Repeat changing Description {djang-[change]}
# port at ExecStart {localhost:[change]}